form #search-text {
  width: 74%;
  float:left;
  margin: 0 0 0 1%;
}

form #search-submit {
  width: 24%;
  float:left;
  margin: 0 1% 0 0;
}

.logo {
  background: url('freshservice_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 25px;
  margin-top: 25px;
}

.gifs {
  display: grid;
  grid-template-columns: [main-start] 1fr [content-start] 1fr [content-end] 1fr [main-end];
  grid-template-rows: [main-start] 100px [content-one] 100px [content-two] 100px [content-three] 100% [main-end];
}
